<%- include('partials/header') %>

<form action="/edit/<%= user._id %>?_method=PUT" method="POST">
    <input type="text" name="username" value="<%= user.username %>" required>
    <input type="email" name="email" value="<%= user.email %>" required>
    <input type="text" name="city" value="<%= user.city %>" required>
    <button type="submit">Update User</button>
</form>

<%- include('partials/footer') %>
