<%- include('partials/header') %>

<form action="/search" method="GET">
  <input type="text" name="username" placeholder="Search by username" />
  <input type="email" name="email" placeholder="Search by email" />
  <input type="text" name="city" placeholder="Search by city" />
  <button type="submit">Search</button>
</form>

<!-- <a href="/add">Add User</a> -->
<br /><br />

<form action="/add" method="POST">
  <input type="text" name="username" placeholder="Username" required />
  <input type="email" name="email" placeholder="Email" required />
  <input type="text" name="city" placeholder="City" required />
  <button type="submit">Add User</button>
</form>

<ul>
  <% users.forEach(user => { %>
  <li style="display: flex">
    <strong><%= user.username %></strong> - <%= user.email %> - <%= user.city %>
    &nbsp;&nbsp; <a href="/edit/<%= user._id %>">Edit</a>&nbsp;&nbsp;
    <form action="/delete/<%= user._id %>?_method=DELETE" method="POST">
      <button type="submit">Delete</button>
    </form>
  </li>
  <% }) %>
</ul>

<%- include('partials/footer') %>
