<%- include('partials/header') %>

<ul>
    <% users.forEach(user => { %>
        <li><strong><%= user.username %></strong> - <%= user.email %> - <%= user.city %></li>
    <% }) %>
</ul>

<%- include('partials/footer') %>
